body {
    background: #121212;
    color: white;
    text-align: center;
    font-family: Arial;
}

input {
    width: 50%;
    padding: 10px;
    border-radius: 6px;
}

button {
    padding: 10px 18px;
    background: red;
    color: white;
    border: none;
    border-radius: 6px;
}
